[mysqld]
transaction-isolation = READ-COMMITTED
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
thread_cache_size = 4

skip_external_locking = 1
table_open_cache_instances=16

max_connections=20
max_user_connections=19
wait_timeout=10
interactive_timeout = 60
long_query_time=5
